header {
    /*padding-top: 59px;*/
    color: #ffffff;
    background-color: #3a7dfd;
    background-image: linear-gradient(-100deg, #1E51A4 30%, rgba(225, 18, 67, 1) 100%);
}

body {
    margin: 0 !important;
    font-family: 'Roboto', sans-serif!important;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

.main-img {
    padding: 5%;
}
.img-fluid{
    max-width: 100%;
    height: auto;
    float: right;

}

.block-title {
    align-content: left;
    padding-top: 20%;
}

.text-before-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 5% 0 0 0;

}

.text-title {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1px;
}

.after-title {
    font-size: 18px;
    font-weight: 400;
}

.main-button:hover {
    background-color: rgba(225, 18, 67, 1);
    color: white;
    border-color: rgba(225, 18, 67, 1);
}
.after-button {
    font-size: 12px;
    font-weight: 400;
    padding-left: 2%;
    padding-top: 2%;
    display: block;
}

.main-button {

    box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
    border-radius: 70px;
    background-color: #ffffff;
    color: #1E51A4;
    font-size: 18px;
    font-weight: 700;
    padding: 3% 6%;

}
.portfolio{
    background-color: #dddddd;
}
.text-h6{
     color: #1E51A4;
 }
.portfolio-row-1{
    text-align: left;
    padding-top: 4%;
}
@media (max-width: 700px ) {
    .portfolio-row-1{
        padding-bottom: 7%;
    }
}
.portfolio-row{
    background-color: #ffffff;
    text-align: center;
    padding: 1% 5% 5% 5%;
    overflow: hidden;
    position: relative;
    top: 10%;
}

@media (max-width: 700px ) {
    .portfolio-row{
        top: 5%;
    }
}
.pink{
    color: darkgray;
    font-size: 14px;
    font-weight: 400;
}
.text-h6-row{
    text-transform: uppercase;
    color: #1E51A4;
    margin: 0px;
    padding-right: 1%;
}
.text-p-row{
    color: darkgray;
    padding-right: 1%;
    text-align: left;
}
.portfolio-row-img{
    padding-bottom: 4%;
    max-width: 100%;
    height: auto;
    float: right;
}

.look-button{
    color:rgba(225, 18, 67, 1) ;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 400;
    border: none;
    padding: 0px;
}
footer{
    background-color: #3a7dfd;
    background-image: linear-gradient(-100deg, #1E51A4 30%, rgba(225, 18, 67, 1) 100%);
}

.footer-txt{
   text-align: left;
    font-size: 24px;
    font-weight: 700;
    padding-top: 3%;
    margin: 1%;
}
.footer-1{
    padding: 10% 0;
}
@media (max-width: 700px ) {
    .footer-1{
        padding: 10% 0 4% 0;
    }
}
.footer-2{
    text-align: center;
    padding: 10% 0;
}

@media (max-width: 700px ) {
    .footer-2{
       padding: 4% 0;
    }
}
.logo-img{
    align-content: center;
    margin: 2%;
    max-width: 100%;
    height: auto;
    width: auto;
}
.footer-button{
    box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
    border-radius: 70px;
    border-color: white;
    background-color: #1E51A4;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 3% 6%;
}
.footer-button:hover{
    background-color: rgba(225, 18, 67, 1);
    color: white;
    border-color: rgba(225, 18, 67, 1);
    border-color: white;
}

.footer-title {
    font-size: 18px;
    font-weight: 400;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0;
}

.header-content{
   padding: 15% 0;
}
@media (max-width: 700px ) {
    .header-content{
        padding: 0 0 15% 0;
        margin-top: 0;
    }
}

.vertical-align {
    display: flex;
    align-items: center;
}
.portfolio-class{
    padding-bottom: 10%;
}
@media (max-width: 700px ) {
    .portfolio-class{
        padding-bottom: 25%;
    }
}
